<!DOCTYPE html>
<html ng-app="chatApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat App Firebase</title>
	<script src ="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
</head>
<body ng-controller="ChatController">
<h1>Angularfire Chat</h1>

<!-- https://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg -->
<div ng-repeat="message in messages">

<br>
<br>
	<img style="float:left; width:50px; padding:5px" src="{{message.url}}" alt="">
	<span ng-show="edit" ng-dblclick="edit = !edit">
	<a> Author: {{message.author}}</a>
	<br>
	<a> Message: {{message.text}}</a>
	</span>

	<!--shows/ hides edit and text on click -->
	<span ng-show="!edit" ng-dblclick="edit = !edit">
	<input ng-model="message.author" value="{{message.author}}"> </input>
	<br>
	<input ng-model="message.text" value="{{message.text}}"> </input>
	</span>
	

	<button ng-click="removeMsg(message)">Delete Me</button>
</div>

<br>
<br>
<br>
<input placeholder="msg" ng-model="newMsg.text" type="text">
<input placeholder="author" ng-model="newMsg.author" type="text">
<input placeholder="image-url" ng-model="newMsg.url" type="text">


<button ng-click="addMsg()">New Message</button>
	

<script src="app.js"></script>
<script src="controllers.js"></script>
</body>
</html>